
 
  
  header, nav, main, footer {
    max-width: 767px;
    margin: 0 auto;
}
  
  header{
    box-shadow: 1px 1px 3px 1px #888;
    border-radius: 3px;
    border: 1px solid #888;
    background-color:#14213D;
    color:white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  footer{
      box-shadow: 1px 1px 3px 1px #888;
      border-radius: 3px;
      border: 1px solid #888;
      background-color:#14213D;
      color:white;
      padding:10%;
      display: flex;
	    flex-flow: column;
	    align-items: center;
	    justify-content: center;
	    padding: 10px;
      
     }
     header img{
       width:100px;
       height: auto;
       
     } 
     .motto {
      font-family: "Open Sans", sans-serif;
      margin-left: 20px;
    font-size: 0.8rem;
      letter-spacing: 1pt;
      color:#FCA311;
  }
     header h3{ 
       font-size:1em;
       margin-right:10%;
       padding-left:30%;
       font-family: "Open Sans", sans-serif;
     }
    
h1 {
  font-size: 3em;
  margin: 0.67em 0;
  font-family: "Open Sans", sans-serif;
  padding-left:4%;
  
}
h2{
  margin: 5%;
  font-family: "Open Sans", sans-serif;
  padding-left:4%;
  padding-right:30%;
  
}
h3{
  font-family: 'Roboto', sans-serif;
  padding-left:4%;
  font-size: 1em;

}
main h3{
  font-size: 1em;
  margin-left: 5%;;
  padding-left:4%;
  
}
p{
  font-family: 'Roboto', sans-serif;
}

nav{
  background-color: #E5E5E5;
  text-align: center;
  line-height:50px;
  margin: 0 auto;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.ul-nav{
  list-style: none;
  text-align: center;
  padding: 0;
}
.ul-nav li:first-child {
  display: block;
}
.ul-nav li {
display: none;
}
.ul-nav a {
  color:#FCA311;
display: block;
text-align: center;
padding: 0.75rem;
text-decoration: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
 a{
    color:#FCA311;
    text-decoration:none;
    font-family: "Open Sans", sans-serif;
  }
  
  .ul-nav a:hover{
background-color: #FCA311;;
    color:white;
  }
  .responsive li {
    display: block;
}
  .color-link:hover{
    color:#14213D;
  }
 
 .active {
	color:#14213D
}
main {
  
  max-width: 700px;
  font-size: 18px;
  padding: 1rem;
  box-sizing: border-box;
  
}
  .scenarios li{
    font-family: 'Roboto', sans-serif;
  }
   img{
    width:500px;
    }
    main img{
      width:100%;
      }
  .target-main img{
    width:100%;
    border-radius: 3px;
    max-width: 300px;
  }
  .placeholder{
    font-family: 'Roboto', sans-serif;
  }
  
    
  
