
@media only screen and (min-width: 37.5em) {
   
  
  .banner .weather-summary{
    width: 100%;
   
  }
  
  /*------------HEADER-----------*/
  header img {
        width: 80px;
        height: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    .motto {
        font-size: 1rem;
    }

    /*------------NAV-----------*/
    .ul-nav {
        display: flex;
    }
    
    .ul-nav li:first-child{
        display: none;
    }

    .ul-nav li{
        display: block;
        flex: 1 1 100%;
    }
   
   /*------------BANNER-----------*/
    .banner-count{
        max-width: 800px;
        overflow:hidden;
        
      }
     .banner img{
       width:100%;
       
     } 
     .banner{
      margin-bottom:-17%;
    }
     .hero img{
      width:100%;
      transition:3s;
      overflow:hidden;
    } 
    .hero img:hover{
       transform:scale(1.1);
       overflow:hidden;
     }
     
    .banner-count{
        position: relative;
        margin: 10px auto;
        width: 100%;
        height: 500px;
        overflow:hidden;
      }
      

      /*------------WEATHER SUMMARY-----------*/
    .wheather-summary{
        box-shadow: 1px 1px 3px 1px #888;
            border-radius: 3px;
           background-color: rgba(240, 240, 240, 0.5);
           color:#14213D;
            max-width: 200px;
            width:100%;
            margin:0 auto;
            position: absolute;
            top: 4%;
            left: 3%;
            line-height: 20px;
            padding-bottom: 5px;
            
            
             }
             .wheather-summary img{
                width:100px;
                margin-top:-30px;
                margin-bottom:-20px;
                max-width: 100%;
              }
              .wheather-summary p{
                
                margin:5px auto;
                
                
               
              }
              
              
              
  /*------------FORECAST-----------*/

              .forecast-block {
                display: flex;
                
                
              }
              .article img {
                max-width:250px;
               float: right;
               margin-left:3%;
               
              }
              .Forecast{
                
                margin-bottom: 10px;;
              }
             

 
              /*------------CONTACT INFO-----------*/
.contact{
        display: flex;
        flex-flow:row;
        flex-wrap: wrap;
        align-items: center;
         text-align: center;
        max-width: 550px;
        padding-left: 10%;
        }        
}