header, nav, main, footer {
    max-width: 767px;
    margin: 0 auto;
}
  /*------------HEADER-----------*/
  header{
    box-shadow: 1px 1px 3px 1px #888;
    border-radius: 3px;
    border: 1px solid #888;
    background-color:#14213D;
    color:white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  header img{
    width:100px;
    height: auto;
    transition:0.5s;
  } 

 header img:hover{
   transform:scale(1.2);
 }
  .motto {
   font-family: "Open Sans", sans-serif;
   margin-left: 20px;
   font-size: 0.8rem;
   letter-spacing: 1pt;
   color:#FCA311;
}



     /*------------NAV-----------*/
nav{
  background-color: #E5E5E5;
  text-align: center;
 
  margin: 0 auto;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.ul-nav{
  list-style: none;
  text-align: center;
  padding: 0;
}
.ul-nav li:first-child {
  display: block;
}
.ul-nav li {
display: none;
}
.ul-nav a {
  color:#FCA311;
display: block;
text-align: center;
padding: 0.75rem;
text-decoration: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.active a{
  color:#14213D;
  
}
.ul-nav a:hover{
  background-color: #FCA311;
      color:white;
    }
    .responsive li {
      display: block;
  }
    .color-link:hover{
      color:#14213D;
    }

/*------------HIDE BANNER-----------*/  

.hide-banner {
  display: none;
  margin: 20px;
  background-color:  #FCA311;
  border: 2px solid #230903;
  text-align: center;
  padding: 1em;
} 
    
    
  /*------------MAIN-----------*/ 
  
  main {
  
    max-width: 800px;
    font-size: 18px;
    padding: 1rem;
    box-sizing: border-box;
    
  }
h1 {
  
  margin: 0.67em 0;
  font-family: "Open Sans", sans-serif;
  padding-left:4%;
  
}
h2{
  margin: 5%;
  font-family: "Open Sans", sans-serif;
 }
 p{
  font-family: 'Roboto', sans-serif;
}


/*-MAIN links-*/
 a{
    color:#FCA311;
    text-decoration:none;
    font-family: "Open Sans", sans-serif;
  }
  a:hover{
    color:white;
  }
  

 
 

/*-banner-*/
.hero {
  width: auto;

}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  .banner{
    max-width:800px;
    margin: 10px auto;
    
  }
  .banner-count{
    max-width: 800px;
    overflow:hidden;
    
  }
 .banner img{
   width:100%;
   overflow:hidden;
 } 
 
.banner p{
  font-family: "Open Sans", sans-serif;
}

/*-Weather summary-*/

.wheather-summary{
  box-shadow: 1px 1px 3px 1px #888;
      border-radius: 3px;
      border: 1px solid #888;
      background-color: #E5E5E5;
      color:#14213D;
      margin: 10px;
     padding-left:10px;
     margin: 15px auto;
     text-align: center;
     max-width: 300px;
}

/*-Forecast-*/

.forecast-sec img{
  width:100%;
  max-width: 100px;
 
}
.forecast-block {
  display: flex;
  flex-flow: row wrap;
  
}

.forecast-sec {
  flex: 1 1 auto;
  background-color: #E5E5E5;
 text-align: center;
 padding-top:15px;
 
}
.forecast-sec:hover {
  background-color: rgba(240, 240, 240, 0.2);
  color: #FCA311;
}
.forecast-sec-head{
  font-family: "Open Sans", sans-serif;
}
.Forecast h2{
  padding-left:1%;
  text-align: center;
}
/*------------CITY EVENTS-----------*/
.city-event{
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top:15px; 
  padding-bottom:15px; 
  border-radius: 3px;
  border: 1px solid #888;
  background-color:#14213D;
  color:white;
  

  
}


/*-Articles-*/
.article{
  max-width:800px;
  margin: 10px auto;
  background-color: #E5E5E5;
  
  padding:5%;
}
.article img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  
  
}
.article h2{
  margin: 0 auto;
  padding:5px;
}


/*------------CONTACT-----------*/
.contact{
  display: flex;
  flex-flow:column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.contact img{
  width:15%;
  border-radius: 40px;
  
  transition:0.3s;
  overflow:hidden;
} 
.contact img:hover{
   transform:scale(1.2);
   overflow:hidden;
  
 }
 


   /*------------FOOTER-----------*/
   .footer-info{
     margin-top:10px;
    box-shadow: 1px 1px 3px 1px #888;
    border-radius: 3px;
    border: 1px solid #888;
    background-color:#14213D;
    color:white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    
   } 
   