
p{
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: "Open Sans", sans-serif;
    padding-left:4%;
    
  }
  
  h2{
    margin: 0.67em 0;
    font-family: "Open Sans", sans-serif;
    padding-left:4%;
    padding-right:30%;
    
  }
  
  header img{
    
    float:right;
    max-width:250px;
    box-shadow: 1px 1px 3px 1px #888;
    border-radius: 3px;
    margin-top:4%;
    margin-right:-95%;
    text-align:center;
  }
  a{
    color:#E5E5E5;
  }
  a:hover{
    background-color: white;
    Color:#FCA311;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
  }
  
  body{
    max-width:1000px;
    height:400%;
    padding-left:15%;
    padding-right:15%;
    padding-top:10px;
    box-align:center;
    background-color: #E5E5E5;
  }
  
  main{
      background-color: #E5E5E5;
      display: grid;
      grid-gap: 5px;
      max-width: auto;
      grid-template-columns: 1fr;
      
  }
  img {
    width: 100%;
    height: auto;
    border: rgb(230, 224, 224) 1px solid;
    box-shadow: 0px 0px 5px #FCA311;;
    margin-top: 15px;
  }
  section {
    text-align: center;
  }
  
  header{
      box-shadow: 1px 1px 3px 1px #888;
      border-radius: 3px;
      border: 1px solid #888;
      background-color:#FCA311;
      color:white;
      padding-left:10%;
      padding-right:50%;
      
      
  
  }
  footer{
      box-shadow: 1px 1px 3px 1px #888;
      border-radius: 3px;
      border: 1px solid #888;
      background-color:#FCA311;
      color:white;
      padding-left:10%;
     
  }
  
 
  