@media only screen and (min-width: 64em) {
    body {
      font-size: 18px;
    }
    main {
      grid-template-columns:repeat(3, 1fr);
    }
    main section:nth-child(3) {
      grid-area: 1/3/1/4;
      margin: 0.25rem;
    }
    
  }