@media only screen and (min-width: 32.5em) {
    body {
      font-size: 16px;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
      }
    
    section {
        text-align: center;
      }
      
     
    main section:nth-child(1) {
      grid-area: 1/1/1/2;
      margin: 0.25rem;
    }
    main section:nth-child(2) {
      grid-area: 1/2/1/3;
      margin: 0.25rem;
    }
    main section:nth-child(3) {
      grid-area: 2/1/2/2;
      margin: 0.25rem;
    }
  }