
 
  
  header, nav, main, footer {
    max-width: 767px;
    margin: 0 auto;
}
  
  header, 
  footer{
      box-shadow: 1px 1px 3px 1px #888;
      border-radius: 3px;
      border: 1px solid #888;
      background-color:#14213D;
      color:white;
      padding:10%;
      display: flex;
	    flex-flow: column;
	    align-items: center;
	    justify-content: center;
	    padding: 10px;
      
     }
     header img{
       width:200px;
       
     } 
     header h3{
       font-size:1em;
       margin-right:10%;
     }

h1 {
  font-size: 3em;
  margin: 0.67em 0;
  font-family: "Open Sans", sans-serif;
  padding-left:4%;
  
}
h2{
  margin: 5%;
  font-family: "Open Sans", sans-serif;
  padding-left:4%;
  padding-right:30%;
  
}
h3{
  font-family: "Open Sans", sans-serif;
  padding-left:4%;
  font-size: 1em;
}
p{
  font-family: 'Roboto', sans-serif;
}

nav{
  background-color: #E5E5E5;
  text-align: center;
  display: block;
  line-height:50px;
  
  
}

nav ul{
  
  list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
} 
nav ul li a {
  color:#FCA311;
display: block;
text-align: center;
padding: 0.75rem;
text-decoration: none;
font-size:120%;
  font-family: "Open Sans", sans-serif;
}
nav a:hover {
             
  color:white;
  background-color:#FCA311;
}
  a{
    color:#FCA311;
    text-decoration:none;
    font-family: "Open Sans", sans-serif;
  }
  
  a:hover{

    color:white;
  }
  .color-link:hover{
    color:#14213D;
  }
 
 .active {
	color:#14213D
}
main {
  
  max-width: 700px;
  font-size: 18px;
  padding: 1rem;
  box-sizing: border-box;
  
}
  .scenarios li{
    font-family: 'Roboto', sans-serif;
  }
  img{
    width:500px;
    }

  
  
    
  
