h1 {
  text-align: center;
  font-size: 3em;
  margin: 0.67em 0;
  font-family: "Open Sans", sans-serif;
  
  
}
header{
  box-shadow: 1px 1px 3px 1px #888;
    border-radius: 3px;
    border: 1px solid #888;
    background-color:#14213D;
    color:white;
    margin-bottom: 5%;;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items:center;
  text-align: center;
  grid-row-gap:20px;

}

main div section  {
  background-color: #E5E5E5;
  padding-bottom:20px;
  width:80%;
}

img {
  width: 80%;
}
h2 {
  font-family: "Open Sans", sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
footer {
  box-shadow: 1px 1px 3px 1px #888;
  border-radius: 3px;
  border: 1px solid #888;
  background-color:#14213D;
  color:white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 3em;

}


@media only screen and (min-width: 35rem) {
  .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items:center;
      text-align: center;
      grid-gap:20px;
  }

}


@media only screen and (min-width: 64rem) {

  .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap:10px;
      justify-items:center;
      text-align: center;
      grid-row-gap:20px;
  }
}