@media only screen and (min-width: 72em) {
  header, nav, main, footer {
    max-width: 1200px;
    margin: 0 auto;
} 
  header img {
      width: 128px;
      height: auto;
    }
  
    h1 {
      font-size: 3rem;
      }
      h4{
        font-size: 1em;
      }
    .motto {
      font-size: 1.3rem;
    }
  
    nav a {
          font-size: 1.1rem;
    }
    
    div.pics{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
  div.pics section{
      display: inline;
      grid-column: 1 / 2;
      margin: 5px;
      
  }
  div.pics section:nth-child(2){
      display: inline;
      grid-column: 2 / 3;
  }
  div.pics section:nth-child(3){
      display: inline;
      grid-column: 3 / 4;
  } 
     
  .contact{
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
} 
    
}   
  
  
