
@media only screen and (min-width: 37.5em) {
 
  header img {
        width: 80px;
        height: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    .motto {
      font-family: "Open Sans", sans-serif;
      margin-left: 20px;
      font-size: 0.8rem;
      letter-spacing: 1pt;
      color:#FCA311;
  }

    
    .ul-nav {
        display: flex;
    }
    
    .ul-nav li:first-child{
        display: none;
    }

    .ul-nav li{
        display: block;
        flex: 1 1 100%;
    }

    
    main section{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  div.pics img{
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      margin-top: auto;
      margin-bottom: auto;
      
    overflow:hidden;
  }
  div.town_details{
      grid-column: 1 / 2;
  }
  div.pics h2{
      margin-top: 0;
  }
  
  div.pics section:nth-child(2) img{
      grid-column: 1 / 2;
  }
  div.pics section:nth-child(2) div.info{
      grid-column: 2 / 3;
  
  }
  div.pics section:nth-child(2) div.name{
      grid-column: 2 / 3;
  
  }
  
    
  .contact{
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
    
    
  }  
      
}