@media only screen and (min-width: 72em) {
  header, nav, footer {
    max-width: 1200px;
    margin: 0 auto;
} 

/*------------HEADER-----------*/
  header img {
      width: 128px;
      height: auto;
    }
  
    h1 {
      font-size: 3rem;
      }
      h2{
        font-size: 3rem;
      }
  
    .motto {
      font-size: 1.3rem;
    }
  
    nav a {
          font-size: 1.1rem;
    }
    
     
    /*------------FOOTER-----------*/
    
    .contact{
      display: flex;
      flex-flow:row;
      flex-wrap: wrap;
      max-width: 767px;
      margin: 0 auto;
     
  } 
  /*------------FOOTER-----------*/
  .footer-info{
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  }
