
 
  
  header, nav, main, footer {
    max-width: 767px;
    margin: 0 auto;
}
  
  header{
    box-shadow: 1px 1px 3px 1px #888;
    border-radius: 3px;
    border: 1px solid #888;
    background-color:#14213D;
    color:white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  footer{
      box-shadow: 1px 1px 3px 1px #888;
      border-radius: 3px;
      border: 1px solid #888;
      background-color:#14213D;
      color:white;
      padding:10%;
      display: flex;
	    flex-flow: column;
	    align-items: center;
	    justify-content: center;
	    padding: 10px;
      
     }
     header img{
       width:100px;
       height: auto;
       transition:0.5s;
     } 
  
    header img:hover{
      transform:scale(1.2);
    }
     .motto {
      font-family: "Open Sans", sans-serif;
      margin-left: 20px;
      font-size: 0.8rem;
      letter-spacing: 1pt;
      color:#FCA311;
  }
    
    
h1 {
  font-size: 3em;
  margin: 0.67em 0;
  font-family: "Open Sans", sans-serif;
  
  
}
h2{
  
  font-family: "Open Sans", sans-serif;
  
  text-align: center;
}


p{
  font-family: 'Roboto', sans-serif;
}

nav{
  background-color: #E5E5E5;
  text-align: center;
 
  margin: 0 auto;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.ul-nav{
  list-style: none;
  text-align: center;
  padding: 0;
}
.ul-nav li:first-child {
  display: block;
}
.ul-nav li {
display: none;
}
.ul-nav a {
  color:#FCA311;
display: block;
text-align: center;
padding: 0.75rem;
text-decoration: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.active a{
  color:#14213D;
  
}
  
 a{
    color:#FCA311;
    text-decoration:none;
    font-family: "Open Sans", sans-serif;
  }
  
  .ul-nav a:hover{
background-color: #FCA311;
    color:white;
  }
  .responsive li {
    display: block;
}
  .color-link:hover{
    color:#14213D;
  }
 
 


.hide-banner {
  display: none;
  margin: 20px;
  background-color:  #FCA311;
  border: 2px solid #230903;
  text-align: center;
  padding: 1em;
} 
img[data-src] {
  filter: blur(0.2em);
}
main img {
  filter: blur(0em);
  transition: filter 0.5s;
  box-shadow: 1px 1px 3px 1px #888;
    border-radius: 3px;
    border: 1px solid #888;
  
}
.gallery {
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
figcaption {
  display: block;
  text-align: center;
  padding: 1rem;
}
  