@media only screen and (min-width: 72em) {
  header, nav, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}
  
  header img {
      width: 128px;
      height: auto;
    }
  
    h1 {
      font-size: 3rem;
      }
      h2{
        font-size: 3rem;
      }
      main h2{
       font-size: 3em;
      }
  
    .motto {
      font-size: 1.3rem;
    }
  
    nav a {
          font-size: 1.1rem;
    }
    
     .gallery{
      grid-template-columns: 1fr 1fr 1fr;
      
      
  }

.gallery-fig:hover {
  box-shadow: 0 0 30px#14213D;
    border-radius: 3px;
    border: 1px solid #888;
    color:#FCA311;
    background-color: #E5E5E5;
}

  }
