@media only screen and (min-width: 900px) {
  header, nav, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}
  
  header img {
      width: 128px;
      height: auto;
    }
  
    h1 {
      font-size: 3rem;
      }
      h2{
        font-size: 3rem;
      }
  
    .motto {
      font-size: 1.3rem;
    }
  
    nav a {
          font-size: 1.1rem;
    }
    
     .img_gallery{
      grid-template-columns: 1fr 1fr 1fr;
      
      
  }

.gallery:hover {
  box-shadow: 0 0 50px rgb(42, 42, 42);
}

  }
