
@media only screen and (min-width: 768px) {
    header img {
        width: 80px;
        height: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    .motto {
        font-size: 1rem;
    }

    
    .ul-nav {
        display: flex;
    }
    
    .ul-nav li:first-child{
        display: none;
    }

    .ul-nav li{
        display: block;
        flex: 1 1 100%;
    }
    
     
      .contact-flex {
        display: flex;
      }
    
      .map {
        flex: 1;
        display: block;
        margin: auto;
      }
    
      .contact{
        display: flex;
        flex-flow:row;
        flex-wrap: wrap;
        }  
      
    
      
      
}