@media only screen and (min-width: 72em) {
  
 

/*------------HEADER-----------*/

  
  header img {
      width: 128px;
      height: auto;
    }
  
    h1 {
      font-size: 3rem;
      }
      h2{
        font-size: 3rem;
        
      }
     
      
    .motto {
      font-size: 1.3rem;
    }
  
    /*------------NAV-----------*/
    
    nav a {
          font-size: 1.1rem;
    }
    
/*------------MAIN-----------*/

main{
  max-width: 100%;
    margin: 0 auto;
}

    /*------------BANNER-----------*/
     .banner{
       max-width: 1200px;
       margin-bottom: 7%;
     }
     .banner img{
       max-width: 1200px;
       width:100%;
     }
     .hero img:hover{
      transform:scale(1.2);
      overflow:hidden;
    }
    .banner-count{
      position: relative;
      max-width: 1200px;
      width:100%;
         
    } 

    .call-action{
      top: 12%;
      position: absolute;
    }

    /*------------CARDS-----------*/
    
    div.cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
  div.cards section{
      display: inline;
      grid-column: 1 / 2;
      margin: 5px;
      
  }
  div.cards section:nth-child(2){
      display: inline;
      grid-column: 2 / 3;
  }
  div.cards section:nth-child(3){
      display: inline;
      grid-column: 3 / 4;
  } 
    /*------------WEATHER SUMMARY-----------*/
     
    .wheather-summary p{
                
      margin:15px auto;
      
      
     
    }

    /*------------FORECAST-----------*/
    .Forecast{
      max-width: 800px;
      padding-left: 8.5%;
      margin-bottom: 10%;;
    }
    /*------------CITY EVENTS-----------*/
.city-event{
  margin-bottom:7%;
  font-size: 2em;
}

    /*------------ARTICLE-----------*/
    .article{
      width: 100%;
      max-width: 1200px;
      margin: 10px auto;
      background-color: #E5E5E5;
     
      padding:5%;
    }
    .article img {
      max-width:250px;
      width: 100%;
      float: right;
      
    }
    .article p {
      font-size: 1.25em;
    }

  /*------------CONTACT-----------*/
  
    main.contact h2{
    text-align: center;
    padding-left:50%;
  }

  .contact h2{
    font-size: 2em;
  }
  .contact{
    padding-left: 20%;;
  }

  .rentaloptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    text-align: center;
    border:white 2px dotted;
}
.rentaloptions p {
    font-family:"Nunito", Verdana, sans-serif;
    text-align:left;
    padding-left:50px;
    padding-right:10px;
 }
  
  }
