
@media only screen and (min-width: 37.5em) {
   
  
  .banner .weather-summary{
    width: 100%;
   
  }
  
  
  /*------------HEADER-----------*/
  header img {
        width: 80px;
        height: auto;
    }

    h1,h2 {
        font-size: 2.5rem;
    }

    .motto {
        font-size: 1rem;
    }
   

    /*------------NAV-----------*/
    .ul-nav {
        display: flex;
    }
    
    .ul-nav li:first-child{
        display: none;
    }

    .ul-nav li{
        display: block;
        flex: 1 1 100%;
    }
   
   /*------------BANNER-----------*/
    .banner-count{
        max-width: 800px;
        overflow:hidden;
        
      }
     .banner img{
       width:100%;
       
     } 
     .banner{
      margin-bottom:-17%;
    }
     .hero img{
      width:100%;
      transition:3s;
      overflow:hidden;
    } 
    .hero img:hover{
       transform:scale(1.1);
       overflow:hidden;
     }
     
    .banner-count{
        position: relative;
        margin: 10px auto;
        width: 100%;
        height: 500px;
        overflow:hidden;
      }
       /*-Call to action-*/
      .call-action{
        background-color: rgba(240, 240, 240, 0.5);
            width:100%;
            margin:0 auto;
            position: absolute;
            top: 4%;
            left: 3%;
            margin: 15px auto;
            text-align: center;
            padding-bottom: 5px;
      }
    
.call-action a{
  background: rgba(51,51,51,0.5);
display: block;
width: 100px;
color: #fff;
text-align: center;
text-decoration: none;
padding: 7px;
margin-top: 10px;
margin-left: 30%;

}
.call-action a:hover {
  background-color: #ff4a1c;
 
}
/*------------CARDS-----------*/
.main-card section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.cards img{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 200px;

}
div.town_details{
  grid-column: 1 / 2;
}
div.cards h2{
  margin-top: 0;
}

div.cards section:nth-child(2) img{
  grid-column: 1 / 2;
}
div.cards section:nth-child(2) div.info{
  grid-column: 2 / 3;

}
div.cards section:nth-child(2) div.name{
  grid-column: 2 / 3;

}

      /*------------WEATHER SUMMARY-----------*/
    .wheather-summary{
        
           color:#14213D;
            
            width:100%;
            margin:0 auto;
            padding-bottom: 5px;
           }
             .wheather-summary img{
                width:100px;
                margin-top:-30px;
                margin-bottom:-20px;
                max-width: 100%;
              }
              .wheather-summary p{
                
                margin:5px auto;
              }
              
              
              
  /*------------FORECAST-----------*/

              .forecast-block {
                display: flex;
                
                
              }
              .article img {
                max-width:250px;
               float: right;
               margin-left:3%;
               
              }
              .Forecast{
                
                margin-bottom: 10px;;
              }
             

 
              /*------------CONTACT INFO-----------*/
              footer{
            
        align-items: center;
         text-align: center;
              }
.contact{
        display: flex;
        flex-flow:row;
        flex-wrap: column;
        align-items: center;
         text-align: center;
        max-width: 500px;
        margin-left: 25%;
        margin-right: 17%;
        
        }   
        
        /*-------------------------rentals-------------------*/
.rental-sec h1{
  
  font-size: 3em;
}
        .rentaloptions {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-items:center;
          text-align: center;
          
      }
      .rentaloptions img {
        margin-top:15px;
        transition:0.5s;
      overflow:hidden;
        
      }
      .rentaloptions img:hover {
        box-shadow: 1px 1px 3px 1px #888;
        border-radius: 3px;
        border: 1px solid #888;
        transform:scale(1.1);
        overflow:hidden;
      }
      /*-Articles-*/
.article{
  margin-top:30px;
}
}