* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, main {
    max-width: 767px;
    margin: 0 auto;
}
body{
  
    background-color: rgb(238, 238, 238);
  }

  /*------------HEADER-----------*/
  header{
    
    background-color: rgb(238, 238, 238);
    color:#ff4a1c;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  header img{
    width:100px;
    height: auto;
    transition:0.5s;
  } 

 header img:hover{
   transform:scale(1.2);
 }
  .motto {
   font-family: "Open Sans", sans-serif;
   margin-left: 15px;
   font-size: 1rem;
   letter-spacing: 3pt;
   color:#2EC4B6;
}



     /*------------NAV-----------*/
nav{
  background-color: #0EABF3;
  text-align: center;
  margin: 0 auto;
  position: sticky;
	top: 0px;
	z-index: 100;
  border-radius: 3px;
    
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.ul-nav{
  list-style: none;
  text-align: center;
  padding: 0;
}
.ul-nav li:first-child {
  display: block;
}
.ul-nav li {
display: none;
}
.ul-nav a {
  color:white;
display: block;
text-align: center;
padding: 0.75rem;
text-decoration: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
.active {
  border-radius:3px;
  background-color: rgba(0, 0, 0, 0.2);
}
.active a{
  color:#14213D;
  
}
.ul-nav a:hover{
  background-color: #007ABD;
      color:white;
      border-radius:3px;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    
    }
    .responsive li {
      display: block;
  }
    .color-link:hover{
      color:#14213D;
    }

    
    
  /*------------MAIN-----------*/ 
  
  main {
  
    max-width: 800px;
    font-size: 18px;
    padding: 1rem;
    box-sizing: border-box;
    
  }
h1 {
  
  margin: 0.67em 0;
  font-family: "Open Sans", sans-serif;
  padding-left:4%;
  
}
h2{
  margin: 5%;
  font-family: "Open Sans", sans-serif;
 }
 p{
  font-family: 'Roboto', sans-serif;
}


/*-MAIN links-*/
 a{
    color:#14213D;
    text-decoration:none;
    font-family: "Open Sans", sans-serif;
  }
  a:hover{
    color:#FF4A1C;
  }
  footer a:hover{
    color:white;
  }
  

 
 

/*-banner-*/
.hero {
  width: auto;

}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  .banner{
    max-width:800px;
    margin: 10px auto;
    
  }
  .banner-count{
    max-width: 800px;
    overflow:hidden;
    
  }
 .banner img{
   width:100%;
   overflow:hidden;
 } 
 
.banner p{
  font-family: "Open Sans", sans-serif;
}

/*-Call to action-*/

.call-action{
 
      background-color: #E5E5E5;
      margin: 10px;
     padding-left:10px;
     margin: 15px auto;
     text-align: center;
     max-width: 300px;
     border-radius: 20px;
}
.call-action h3{
  color: #14213D;
  font-size: 3em;
}
.call-action a{
  
	width: 100px;
	color:white;
	text-decoration: none;
	padding: 7px;
	margin-top: 10px;
	background-color:  #FCA311;
  text-align: center;
  border-radius: 20px;
}
.call-action a:hover {
	background-color: #ff4a1c;
      color:white;
}
/*-Weather summary-*/
.wheather-summary{
  
  background-color: #E5E5E5;
      color:#14213D;
      margin: 10px;
     padding-left:10px;
     margin: 15px auto;
     text-align: center;
     line-height: 40px;
     
}

/*-Forecast-*/

.forecast-sec img{
  width:100%;
  max-width: 100px;
 
}
.forecast-block {
  display: flex;
  flex-flow: row wrap;
  
}

.forecast-sec {
  flex: 1 1 auto;
  background-color: #E5E5E5;
 text-align: center;
 padding-top:15px;
 
}
.forecast-sec:hover {
  background-color: rgba(240, 240, 240, 0.2);
  color: #0EABF3;;
}
.forecast-sec-head{
  font-family: "Open Sans", sans-serif;
}
.Forecast h2{
  padding-left:1%;
  text-align: center;
}

/*-Articles-*/
.article{
  max-width:800px;
  margin: 10px auto;
  background-color: #E5E5E5;
  border-radius: 3px;
  padding:5%;
}
.article img {
  margin-bottom:20px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  
  
}
.article h2{
  margin: 0 auto;
  padding:5px;
}


 /*------------CARDS-----------*/
 main div section {
  
  background-color:#E5E5E5;
     
 }
 main div section:hover{
  
  background-color: rgba(95, 129, 16, 0.2);
     
 }
 .main-card p{
   margin-bottom: 20px;
  color:#FF9F1C;
  font-family: "Open Sans", sans-serif;
  
  
 }
 div h2{
   color: #14213D;;
   text-align: center;
   font-size: 30px;
   
 }
 main div h3{
   
   font-family: "Open Sans", sans-serif;
   text-align: center;
   color:#0EABF3;
   padding:3%;
 }
 .main-card h2{
   text-align: center;
 }
 
 div.cards img{
   display: block;
   max-width: 80%;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 1px 1px 3px 1px #888;
     border-radius: 3px;
     border: 1px solid #888;
    
     
 }
 div.cards section{
 
   padding-top: 15px;
   padding-bottom: 15px;
   margin-top: 5px;
   margin-bottom: 5px;
 }
 .name{
   text-align: center;
 }
 
 main p {
   margin-left: 26px;
   margin-right: 15px;
 }
 .info{
   
   width: 300px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   
   padding: 5px;
 }



 


   /*------------FOOTER-----------*/
  
   .footer-info{
     margin-top:10px;
     border-radius: 3px;
    background-color:#0EABF3;
    color:white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    
   } 
   /*------------CONTACT-----------*/
.contact{
  display: flex;
  flex-flow:column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.contact img{
  width:15%;
  border-radius: 40px;
  
  transition:0.3s;
  overflow:hidden;
} 
.contact img:hover{
   transform:scale(1.2);
   overflow:hidden;
  
 }
 .locations{
  display: flex;
  flex-flow:column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
 }
 .div-location{
  max-width: 400px;
  width:100%;
  background-color: #E5E5E5;
  border-radius: 10px;
  margin:15px auto;
}
.div-location:hover{
  
  background-color: rgba(95, 129, 16, 0.2);
}
/*------------TERMS AND CONDITIONS-----------*/

.terms{
  
  background-color: #CBF3F0;
  border-radius: 10px;
  padding-bottom: 10px;
}
.terms h1{
  text-align: center;
}
.terms h3{
  text-align: center;
  color:#FF4A1C;
}
.terms ol{
  padding:10px;
  margin-left:40px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
}
.terms p{
  font-family: "Open Sans", sans-serif;
  color:#FF4A1C;
}


   /*------------FORM-----------*/
main form {
  
 padding:10px;
 
 
}
form legend{
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  margin: 0 1rem;
  padding: 0 .5rem;
  color: #FF4A1C;
}


form fieldset {
  background-color: #E5E5E5;
  margin: 2rem 2%;
  border-radius: 7px;
  padding: 0 4% 2rem 4%;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

form label.lab, form div {
  display:block;
  padding-top:20px;
  font-size:1rem;
  font-family: "Open Sans", sans-serif;
}
.number{
  display:block;
  padding-top:20px;
  font-size:1rem;
  font-family: "Open Sans", sans-serif;
}

form label.number span.number-labs {
  max-width: 21.5rem;
  display: flex;
  justify-content: space-between;
  color: #474747;
  padding: 0;
  margin-bottom: -10px;
}

form label.number span.number-labs span.label-box-number {
  display: flex;
  width: 20px;
  justify-content: center;
  padding: 0;
}

form label.number span.number-labs span.label-box-number span {
  padding-top: 0;
  font-size: 0.8rem;
}

form label.number input {
  -webkit-appearance: none;
  display: block;
  max-width: 21.5rem;
  background-color: rgb(219, 218, 218);
}


input[type=range] {
  margin: 20px 0 10px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background: rgb(134, 134, 134);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 15px;
  border-radius: 4px;
  margin-top: -8px;
  background:#FCA311;
}

form label.lab input, form label.lab select {
  -webkit-appearance:none;
  display: block;
  font-size: 1rem;
  border:1px solid #999;
  border-radius:4px;
  padding:.7rem;
  color:#555;
  width:100%;
  max-width:20rem;
  background-color: rgb(238, 238, 238);
  
  
}
form label input:focus,
form label select:focus,
form label textarea:focus {
  outline: none !important;
  box-shadow: 0 0 5px #FCA311;
}

textarea {
  border-radius: 4px;
  width: 100%;
  max-width: 20rem;
  height: 10rem;
  padding:10px;
  background-color: rgb(238, 238, 238);
}

form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width:20rem;
  padding-top:2rem;
}

form label datalist{
  width:100%;
  max-width:20rem;
  margin:0;
}


form label {
  display:block;
  padding:.75rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form div {
  padding-top: 1rem;
}

form input.button {
  border: none;
  background-color: #0EABF3;
  color: white;
  border-radius: 7px;
  padding: 0.5rem;
  margin: 0 0 2rem 0;
  width: 100%;
  max-width: 13rem;
  height: 2.7rem;
  font-size: 1.2rem;
  box-shadow: 1px 1px 3px 1px #888;
    border-radius: 10px;
    border: 1px solid #888;
  
}

input[type="submit"]:hover {
  background-color:#FF4A1C;
  color: white;
}

form div.button-cont {
  margin: 0 0 2rem 2%;
  text-align: center;
}

.thanks{
  color: #FCA311;
  font-size: 3em;
  
}
/*-------------------------rentals-------------------*/
.rentaloptions {
  display: grid;
  grid-template-columns: 1fr;
  justify-items:center;
  text-align: center;
 padding-bottom:20px;
}

.rentaloptions section  {
  background-color: #E5E5E5;
  width:100%;
  padding-bottom:20px;
}
.rentaloptions section:hover {
  background-color: rgba(95, 129, 16, 0.2);
  color: #0EABF3;
}

.rentaloptions img {
  width: 40%;
  border-radius: 3px;
  margin-top:10px;
  
}

.rentaloptions p {
  
  text-align:center;
  padding-left:50px;
  padding-right:10px;
}
.rental-link:hover {
  color:#14213D;
  
}
.rental-sec h1{
  text-align: center;
  
}
.rental-sec h3{
  color:#0EABF3;
  text-align: center;
  margin-bottom: 15px;
}

  /*------------FORM-----------*/
  .resources{
    padding: 30px;
    width:100%;
  }
  .resources ul{
    margin-left:15%;
  }
   