@media only screen and (min-width: 72em) {
  
  header, nav, footer {
    max-width: 1200px;
    margin: 0 auto;
}
main{
  max-width: 1000px;
    margin: 0 auto;
}
  
  header img {
      width: 128px;
      height: auto;
    }
  
    h1 {
      font-size: 3rem;
      }
      h2{
        font-size: 3rem;
        
        padding-right: none;
      }
      
    .motto {
      font-size: 1.3rem;
    }
  
    nav a {
          font-size: 1.1rem;
    }
    
     .banner{
       max-width: 1200px;
       margin-bottom: 7%;
     }
     .banner img{
       max-width: 1200px;
       width:100%;
     }
     .hero img:hover{
      transform:scale(1.2);
      overflow:hidden;
    }
    .banner-count{
      position: relative;
      max-width: 1200px;
      width:100%;
         
    } 
     .wheather-summary{
      top: 12%;
      position: absolute;
      

    }
    .wheather-summary p{
                
      margin:15px auto;
      
      
     
    }
    .Forecast{
      max-width: 800px;
      padding-left: 8.5%;
      margin-bottom: 10%;;
    }
    .article{
      
      margin: 10px auto;
      background-color: #E5E5E5;
     
      padding:5%;
    }
    .article img {
      max-width:350px;
      
      float: right;
      padding-right: 10px;
    }
    .article p {
      font-size: 1.25em;
    }

  
  main.contact h2{
    text-align: center;
    padding-left:50%;
  }
  .contact{
    padding-left: 20%;;
  }
  
  }
