
@media only screen and (min-width: 37.5em) {
    header img {
        width: 80px;
        height: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    .motto {
        font-size: 1rem;
    }

    
    .ul-nav {
        display: flex;
    }
    
    .ul-nav li:first-child{
        display: none;
    }

    .ul-nav li{
        display: block;
        flex: 1 1 100%;
    }
    .banner-count{
        max-width: 800px;
        overflow:hidden;
        
      }
     .banner img{
       width:100%;
       transition:3s;
       overflow:hidden;
     } 
     .banner img:hover{
        transform:scale(1.2);
        overflow:hidden;
      }
    .banner-count{
        position: relative;
        margin: 10px auto;
        width: 100%;
        height: 500px;
      }
    .wheather-summary{
        box-shadow: 1px 1px 3px 1px #888;
            border-radius: 3px;
           background-color: rgba(240, 240, 240, 0.2);
            color:#14213D;
            max-width: 200px;
            width:100%;
            margin:0 auto;
            position: absolute;
            bottom: 10px;
            left: 10%;
            padding-left:10px;
            
           
      }
      .contact{
        display: flex;
        flex-flow:row;
        flex-wrap: wrap;
        max-width: 600px;
        }  
      
    
      
      
}