
@media only screen and (min-width: 37.5em) {
    header img {
        width: 80px;
        height: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    .motto {
        font-size: 1rem;
    }

    
    .ul-nav {
        display: flex;
    }
    
    .ul-nav li:first-child{
        display: none;
    }

    .ul-nav li{
        display: block;
        flex: 1 1 100%;
    }
    .banner-count{
        max-width: 800px;
        overflow:hidden;
        
      }
     .banner img{
       width:100%;
       
     } 
     
    .banner-count{
        position: relative;
        margin: 10px auto;
        width: 100%;
        height: 500px;
        overflow:hidden;
      }
    .wheather-summary{
        box-shadow: 1px 1px 3px 1px #888;
            border-radius: 3px;
           background-color: rgba(240, 240, 240, 0.5);
           color:#14213D;
            max-width: 250px;
            width:100%;
            margin:0 auto;
            position: absolute;
            top: 5%;
            left: 10%;
            
             }
             .wheather-summary img{
                width:100px;
                margin-top:-25px;
                margin-bottom:-25px;
                max-width: 100%;
              }

              .forecast-block {
                display: flex;
                flex-flow: none;
                
              }
      .contact{
        display: flex;
        flex-flow:row;
        flex-wrap: wrap;
        align-items: center;
         text-align: center;
        max-width: 600px;
        padding-left: 10%;
        }  
      
    
      
      
}