h1 {
  text-align: center;
  font-size: 2em;
  margin: 0.67em 0;
  font-family: "Open Sans", sans-serif;
  
  
}
header{
  box-shadow: 1px 1px 3px 1px #888;
    border-radius: 3px;
    border: 1px solid #888;
    background-color:#14213D;
    color:white;
    margin-bottom: 5%;;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

footer {
  box-shadow: 1px 1px 3px 1px #888;
  border-radius: 3px;
  border: 1px solid #888;
  background-color:#14213D;
  color:white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;

}




